.elefant {
    width: 50px;
    height: 60px;
    border-radius: 30px;
    position: relative;
    top: 15px;
    left: 20px;
}

.elefant::before {
    content: '';
    display: block;
    width: 70px;
    height: 20px;
    position: relative;
    top: 55px;
    left: -10px;
}

.elefant::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: solid;
    border-radius: 30px;
    position: relative;
    top: -35px;
    left: 18px;
}


.elefant.colorBlack {
    border: solid black;
    background-color: black;
}
.elefant.colorBlack::before {background-color: black;}
.elefant.colorBlack::after { background-color: black;}


.elefant.colorWhite {
    border: solid white;
    background-color: white;
}
.elefant.colorWhite::before {background-color: white;}
.elefant.colorWhite::after {
    background-color: white;
    border: solid white;
}